body {
    background:#343a40 !important;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
}

.form-control-underlined {
    border-width: 0;
    border-bottom-width: 1px;
    border-radius: 0;
    padding-left: 0;
    width:250px;
}

form-control {
    /*width:500px;*/

}

.form-control:focus {
    box-shadow: none;
}

.card_name {
    visibility: hidden;
}

.card:hover .img{
    webkit-filter: blur(2px); /* Chrome, Safari, Opera */
    filter: blur(2px);
    transform: scale(1.05);
    /*transform: rotate(3deg);*/
    
}
.card:hover .card-button {

    
}

.card:hover .card_name {
    /*transform: rotate(8deg) !important;*/
}

.card:hover .card_name {
    visibility: visible;
    opacity: 1;
    text-shadow: 1px 1px black;
}






.card-body {
    z-index: 2;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
}
